:root{
    --primary_color:#eb9a12;
    --secundary_color:#0C9900;
    --complementary_color:#c97f00;
    --title_text:'Open Sans', sans-serif;
    --content-text:'Lato', sans-serif;

    --z-back : -10;
    --z-normal : 1;
    --z-tootip : 10;
    --z-fixed : 100;
    --z-modal : 1000; 
}


html{
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    position: relative;
    padding-bottom: 319px;
}

@media only screen and (max-width: 767px) {
    body{
        padding-bottom: 428px;
    } 
}

@media only screen and (max-width: 575px) {
    body{
        padding-bottom: 546px;
    } 
}

/* Cabecera */
header{
    font-family: var(--content-text);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
}

/* Para las separar los banners */
.separator{
    padding-top: 60px;
}

/* Pie de pagina */
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: var(--content-text);
    font-weight: 600;
    text-align: center;
    color: white;
    margin-top: 48px;
    background-color: #c97f00;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
}

.footer a{
    color: #e9ebeb;
}

.footer a:hover{
    color: #e9ebeb;
} 

.footer div{
    margin: 0 auto;
}


/* Textos */
.title{
    padding-top: 90px;
    text-transform:uppercase;
}

.title,.subtitle{
    font-family: var(--title_text);
}

/* Lineas en los laterales de los titulos */
.title::after{
    margin-left: 10px;
    display:inline-block;
    content: "";
    background-color: var(--primary_color);
    width: 4.5%;
    height: 3px;
    position: relative;
    bottom: 5px;
}

.title::before{
    margin-right: 10px;
    display:inline-block;
    content: "";
    background-color: var(--primary_color);
    width: 4.5%;
    height: 3px;
    position: relative;
    bottom: 5px;
}

.text{
    line-height:28px;
    text-align: justify;
    font-family: var(--content-text);
}

.center-img{
    display:block;
    margin:22px auto;
}

/* Carousel - Slide*/
@media only screen and (max-width: 730px) {

    .carousel-center{
        display: flex;        
        justify-content: center;
        align-items: flex-end;
    }

    .carousel-position{
        font-weight: 700;
        font-family: var(--content-text);
        color: white;
        text-align: center;
        position: absolute;
        top: 4%; 
    } 
}

@media only screen and (min-width: 730px) {

    .carousel-position{
        font-weight: 700;
        font-family: var(--content-text);
        color: white;
        text-align: center;
        position: absolute;
        top: 30%;
        left: 10%;
    }
    
}

.bg-gray{
    background-color:#f3f2f2;
}

.icon-box{
border: 2px solid var(--primary_color);
width: 70px;
height: 70px;
border-radius: 50px;
float: left;
display: flex;
text-align: center;
justify-content: center;
align-items: center;
color: var(--primary_color);
font-size: 40px;
}

.icon{
    width: 40px;
    height: 40px;
}

.card-icon{
    box-sizing: content-box;
    width: 50px;
    height: 50px;  
    padding-top: 15px;
    margin: 0 auto;
}

.message{
    background-image: linear-gradient(
        rgba(37, 166, 31, 0.4), 
        rgba(37, 166, 31, 0.4)
      ), 
   url(../img/cultivo.jpg);
   background-position: center;
   background-attachment: fixed;
}

.message h2, .message p{
    font-weight: 700;
    text-shadow: 0px 0px 1px black,
    0px 0px 2px black,
    0px 0px 3px black;
}

.message p{
    font-size: 18px;
}

.question::before{
    content: "¿";
}

.question::after{
    content: "?";
}

.question-icon{
    margin-top: 6px;
    width: 12px;
    transform: rotate(90deg);
    float: right;
}

.download-app{
    display: block;
    box-sizing: content-box;
    margin:1px auto;
    width: 200px; 
}

/* Boton de subir */
.go-up{
    border-radius: 20px;
    position: fixed;
    bottom: 8px;
    right: 8px;
    transform: rotate(-90deg);
    background-color: var(--primary_color);
}

/* Flecha del boton de subir */
.arrow{
    padding: 12px;
    width: 45px;
}

/* .icon-social-media{
    box-sizing: content-box;
    width: 50px;
    height: 50px;  
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 8px;
    margin: 0 auto;
} */

.attributions{
    font-size: 14px; 
}

/* COLORES EN IDENTIDAD VISUAL */
.color-primary{
    background-color: var(--primary_color);
    width: 150px; 
    height: 150px;
    margin: 0 auto;
}

.color-secundary{
    background-color: var(--secundary_color);
    width: 150px; 
    height: 150px;
    margin: 0 auto;
}

.color-complementary{
    background-color: var(--complementary_color);
    width: 150px; 
    height: 150px;
    margin: 0 auto;
}

.date-text{
    font-family: var(--content-text);
    text-align: left;
    color: #838383;
}

/* BANNER DE NOVEDADES */
@media only screen and (max-width: 767px) {
    .banner{
        background-image: url(../img/banner-phone.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position:bottom;
        height: 400px;
        padding-top: 20px;
    }
    .banner div{
        padding-bottom:10px ;
    }
}

@media only screen and (min-width: 768px) {
    .banner{
        padding-top: 50px;
        background-image: url(../img/banner.jpg);
        background-repeat: no-repeat;
        height: 310px;
        padding-left: 5px;
        padding-right: 5px;

    }
}

.banner div{
    text-shadow: 0px 0px 1px black;
} 

.banner + section > article{
    padding-bottom: 25px;
}


/* LINEA VERDE EN PLAGAS */
.line{
    width: 100%;
    height: 10px;
    background-color: var(--complementary_color);  
    margin-top: 20px;
}

/* FONDO NARANJA */
.bg-orange{
    background-color: var(--primary_color);
}

/* puntos suspensivos en resultados de plagas */
.plague-text{
    height: 200px;
    overflow: hidden;
}

.ellipsis{ 
    text-align: center;
    line-height:0px;
    padding-bottom: 30px;
    font-size: 50px;
}


/* Paginación en plagas */
.pagination .page-link{
    color:#8f5a00;
}

.pagination .page-link:hover{
    color:#332000;
    border: 0;
}

.send-email{
    margin-top:92px;
}

/* @media screen  and (min-width:992px){
    .menu-divider{
        display: none;
    }
} */

[type="email"]{
    box-shadow: 0 0 0 0;
}

.edit{
    top: 0;
    right: 0;
}

.clear{
    bottom: 0;
    right: 0;
}