/* --------------- CSS DEL MENU --------------- */

#sidebar-container{
    min-height: 100vh;
    position: fixed;  
}

#sidebar-container .logo{
    padding: 0.875rem 1.25rem;
}

#sidebar-container .menu{
    width: 18rem;
}

#sidebar-container .menu a{
    text-decoration: none;
}

#content{
    overflow-y: auto;
    padding-left: 300px;
}
